:root {
  --text-color: #000;
  --last-word: #FF7A00;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.panda-home {
  padding-top: 50px;
  text-align: center;
  background-color: #f0f;
}
